.project-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 1200px;
  gap: 1.5rem;
  padding: 1rem;
}

.carousel-container {
  flex: 1 1 40%;
  max-width: 500px;
}

.project-details {
  flex: 1 1 55%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  width: 100%;
  margin-top: 1.5rem;
}

.actions button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.primary-button {
  background-color: #76c7c0;
  color: white;
  font-weight: bold;
}

.primary-button:hover {
  background-color: #63b3a8;
}

.secondary-button {
  background-color: #e0e0e0;
  color: black;
}

.secondary-button:hover {
  background-color: #c7c7c7;
}

.progress-bar {
  width: 100%;
  background: #e0e0e0;
  height: 20px;
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background: #76c7c0;
  transition: width 0.3s;
}


.btn-support {
  display: inline-block;
  padding: 10px 20px;
  background-color: #28a745; /* Зеленый цвет */
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.btn-support:hover {
  background-color: #218838; /* Более темный зеленый при наведении */
}

.btn-support:active {
  background-color: #1e7e34; /* Ещё темнее при клике */
}

.btn-support:disabled {
  background-color: #666666; /* Ещё темнее при клике */
}

.btn-support:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
