.projects-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.filter-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Три колонки */
  gap: 20px;
  justify-items: center;
}

@media (max-width: 1024px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr); /* Две колонки для средних экранов */
  }
}

@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: 1fr; /* Одна колонка для маленьких экранов */
  }
}

.project-tile img {
  background-color: #f0f0f0; /* Цвет фона на случай отсутствия изображения */
  display: block;
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pagination button {
  padding: 5px 15px;
}

.pagination span {
  font-size: 16px;
}
