<div class="carousel">
  <!-- Кнопка "Назад" -->
  <button class="control prev" (click)="onPreviousClick()">
    <span class="arrow left"></span>
  </button>

  <!-- Содержимое слайда -->
  <div class="project-container">
    <!-- Текстовая информация -->
    <div class="project-details">
      <h1>{{ projects[currentSlide]?.title }}</h1>
      <div class="initiator-info">
        <p>Created by: {{ projects[currentSlide]?.initiator?.nickname || 'Unknown' }}</p>
      </div>
      <p>Start Date: {{ projects[currentSlide]?.start_date | date: 'dd.MM.yyyy' }}</p>
      <p>End Date: {{ projects[currentSlide]?.end_date | date: 'dd.MM.yyyy' }}</p>
      <p>Goal: {{ projects[currentSlide]?.goal }} Byn</p>
      <div class="progress-bar">
        <div class="progress" [style.width.%]="progress"></div>
      </div>
      <p>
        Collected: {{ projects[currentSlide]?.analytics?.total_founded || 0 }} /
        {{ projects[currentSlide]?.goal || 0 }}
      </p>
      <button class="more-button" (click)="navigateToProject(projects[currentSlide]?.id)">Подробнее</button>
    </div>

    <!-- Изображение -->
    <div class="project-image">
      <img
        [src]="projects[currentSlide]?.media?.[0]?.file_path || ''"
        alt="Project Image"
        class="slide"
        (error)="onImageError($event)"
        @carouselAnimation
      />
    </div>
  </div>

  <!-- Кнопка "Вперед" -->
  <button class="control next" (click)="onNextClick()">
    <span class="arrow right"></span>
  </button>
</div>
